body {
  padding: 10px;
  font-family: sans-serif;
  font-size: 12px;
  background-color: rosybrown;
}

h1 {
  text-align: center;
}

/*h3, */#list {
  text-align: center;
  border: solid;
  border-radius: 10px;
  border-width: 1px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}

.footer {
  bottom: 80px;
  text-align: center;
  height: 80px;
  background-color: white;
  color: black;
  width: 100%;
}

.pagination {
  margin-right: 10px; 
  margin-left: 10px
}

img {
  border-radius: 50px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

li {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#filterform {
  margin-top: 20px;
}